In [3]:
#How to create Series with nd array

import pandas as ps
import numpy as nd
arr=nd.array([10,20,30,40,50,60,70,80])
s = ps.Series(arr)
print(s)

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
dtype: int64

In [4]:
#How to create Series with Mutable index

import pandas as pd
import numpy as np
arr=np.array(['a','b','c','d'])
s=pd.Series(arr,
            index=['first','second','third','fourth'])
print(s)

first     a
second    b
third     c
fourth    d
dtype: object

In [8]:
#Creating a series from Scalar value

import pandas as pd
s = pd.Series(50, index = [0,1,2,3,4,5,6,7])
print(s)

0    50
1    50
2    50
3    50
4    50
5    50
6    50
7    50
dtype: int64

In [9]:
#Creating a series from a Dictionary

import pandas as pd
dic = {'name':'SHAMJAD', 'Dept':'MCA', 'rollNo':36}
s = pd.Series(dic)
print(s)

name      SHAMJAD
Dept          MCA
rollNo         36
dtype: object

In [20]:
#Mathematical Operations in Series

import pandas as pd
s = pd.Series([1,2,3,4,5])
print("To multiply all values in a series by 2")
print('---------------------------------------')
print(s*2)

print('\n\nTo find the Square of all the values in a series\n------------------------------------------------')
print(s**2)

print('\n\nTo find all the values in a series greater than 2\n-------------------------------------------------')
print(s[s>2])

To multiply all values in a series by 2
---------------------------------------
0     2
1     4
2     6
3     8
4    10
dtype: int64


To find the Square of all the values in a series
------------------------------------------------
0     1
1     4
2     9
3    16
4    25
dtype: int64


To find all the values in a series greater than 2
-------------------------------------------------
2    3
3    4
4    5
dtype: int64

In [23]:
#Example 2

import pandas as pd
s1= pd.Series([1,2,3,4,5], index= ['a','b','c','d','e'])
s2= pd.Series([10,20,30,40,50], index=['a','b','c','d','e'])
s3= pd.Series([5,14,23,32], index= ['a','b','c','d'])
print('To ADD series1 and series2')
print('--------------------------')
print(s1+s2)

print('\n\nTo ADD Series2 and Series3')
print('----------------------------')
print(s2+s3)

print('\n\nTo ADD Series2 and Series3 and filled non matching index with 0')
print('-------------------------------------------------------------------')
print(s2.add(s3, fill_value=0))

To ADD series1 and series2
--------------------------
a    11
b    22
c    33
d    44
e    55
dtype: int64


To ADD Series2 and Series3
----------------------------
a    15.0
b    34.0
c    53.0
d    72.0
e     NaN
dtype: float64


To ADD Series2 and Series3 and filled non matching index with 0
-------------------------------------------------------------------
a    15.0
b    34.0
c    53.0
d    72.0
e    50.0
dtype: float64

In [28]:
#Print the first and last 5 elements of a series

import pandas as pd
import numpy as np
arr= np.array([-2,-1,0,1,2,3,4,5,6,7,8,9,10])
s= pd.Series(arr)
print(s.head()) #by default it prints 5 elements
print(s.tail(5))

0   -2
1   -1
2    0
3    1
4    2
dtype: int64
8      6
9      7
10     8
11     9
12    10
dtype: int64

In [42]:
#Print the values from index 0 to 5
import pandas as pd
import numpy as np
arr= np.array([10,15,18,22,25,77,12,65])
s= pd.Series(arr)
print('values in array are :')
print(s)
print('\nvalues from index[0:5] are :')
print(s[0:6])

values in array are :
0    10
1    15
2    18
3    22
4    25
5    77
6    12
7    65
dtype: int64

values from index[0:5] are :
0    10
1    15
2    18
3    22
4    25
5    77
dtype: int64

In [43]:
#Selection Using iloc index label

import numpy as np
import pandas as pd
arr= np.array([5,10,15,20,25,30,35])
s= pd.Series(arr)
print('Elements in the array :')
print(s)
print('\nelement from index[2:5] using loc')
print(s.loc[2:5])
print('\nelements from index[0:1] using iloc')
print( s.iloc[ :2])

Elements in the array :
0     5
1    10
2    15
3    20
4    25
5    30
6    35
dtype: int64

element from index[2:5] using loc
2    15
3    20
4    25
5    30
dtype: int64

elements from index[0:1] using iloc
0     5
1    10
dtype: int64

In [51]:
import pandas as pd
import numpy as np
arr= np.array([10,30,25,55,45,40])
s= pd.Series(arr, index=['A','B','C','D','E','F'])
print('Array element are :')
print(s)
print(s[1:5:2])
print(s[2:6:4])

Array element are :
A    10
B    30
C    25
D    55
E    45
F    40
dtype: int64
B    30
D    55
dtype: int64
C    25
dtype: int64